.navBar {
  height: 4.4rem;
  background-color: rgb(44, 101, 222);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.store {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  padding-left: 1rem;
}
.shoppingCart {
  display: flex;
  margin-right: 0.625rem;
  margin-top: 1.25rem;
}
.cartNumber {
  background-color: red;
  width: 1.56rem;
  height: 1.25rem;
  line-height: 1.25rem;
  color: white;
  border-radius: 40%;
  text-align: center;
}
.cart {
  height: 45%;
  margin-right: 0.5rem;
}
